/* ===== DARK MODE SCROLLBARS ===== */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #121212;
}

*::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 6px;
    border: 2px solid #121212;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #616161;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #424242 #121212;
}
